@{
	ViewData["Title"] = "Index";
}

@model VmAccountIndex


<div class="container-fluid">
	<h2 class="mb-3">Users</h2>
	<a asp-area="admin" asp-controller="account" asp-action="create" class="btn btn-primary mb-2">Create New User</a>
	<table class="table table-striped">
		<thead>
			<tr>
				<th scope="col">#</th>
				<th scope="col">Name</th>
				<th scope="col">Surname</th>
				<th scope="col">Email</th>
				<th scope="col">Phone</th>
				<th scope="col">Role</th>
				<th scope="col">Modify</th>
			</tr>
		</thead>
		<tbody>
			@{
				int i = 1;
				foreach (var user in Model.customUsers)
				{
					<tr>
						<th scope="row">@i</th>
						<td>
							@{
								if (user.Profile == null)
								{
									<img src="~/area/admin/img/profile/profile.png" style="width : 50px; height : 50px; object-fit : cover; border-radius : 50%;" />
								}
								else
								{
									<img src="~/area/admin/img/profile/@user.Profile" style="width : 50px; height : 50px; object-fit : cover; border-radius : 50%;" />
								}
							}
						</td>
						<td>@user.Name</td>
						<td>@user.Surname</td>
						<td>@user.Email</td>
						<td>@user.PhoneNumber</td>
						<td>
							@{
								IdentityUserRole<string> userRole = Model.UserRole.FirstOrDefault(ur => ur.UserId == user.Id);
								<span>@Model.roles.FirstOrDefault(r => r.Id == userRole.RoleId).Name</span>
							}
						</td>
						<td>
							<a asp-area="admin" asp-controller="account" asp-action="update" asp-route-id="@user.Id" class="btn btn-warning">Update</a>
							<a asp-area="admin" asp-controller="account" asp-action="delete" asp-route-id="@user.Id" class="btn btn-danger" onclick="return confirm('Are you Sure ?')">Delete</a>
							<a asp-area="admin" asp-controller="account" asp-action="reset" asp-route-id="@user.Id" class="btn btn-danger">Reset</a>
						</td>
					</tr>
					i++;
				}
			}
		</tbody>
	</table>
</div>